.main-title{
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#2c3e50;
    margin:30px 0;
    font-size: 32px;
}
.body{
    font-family: 'Segoe UI', Arial, sans-serif;
}
.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    padding:20px;
}
.h2{
    text-align: center;
}
.card h3{
    font-size : 20px;
    color: #333;
    margin: 10px 0 5px 0;
}
.card p{
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin:0;
}
.card{
    border:1px solid #ccc;
    text-align:center;
    width: 30%;
    margin:10px;
    padding:15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img{
    max-width:100%;
    height:auto;
    height: 400px;
    margin: 0px auto;
}
@media(orientation: landscape){
            .container{
                flex-direction: row;
            }
        }
        @media(orientation: portrait){
            .container{
                flex-direction: column;
            }
        }

@media(max-width: 768px){
    .card{
        width:100%;
    }
}